In [15]:
frutas = {
    'fruta':['banana', 'uva', 'maça', 'kiwi', 'morango', 'abacaxi','melão', 'pêra'],
    'lote':[5,3,4,7,7,10,10,10],
    'valor(u)':[50.85,10.50,8.00,9.99,10.85,100.50,8.80,99.99]
}

print(type(frutas))

<class 'dict'>

In [16]:
import pandas as pd

In [17]:
# converter dicionario em dataframe
df = pd.DataFrame(frutas)

print(type(df))
print(df)
display(df)

<class 'pandas.core.frame.DataFrame'>
     fruta  lote  valor(u)
0   banana     5     50.85
1      uva     3     10.50
2     maça     4      8.00
3     kiwi     7      9.99
4  morango     7     10.85
5  abacaxi    10    100.50
6    melão    10      8.80
7     pêra    10     99.99

     fruta  lote  valor(u)
0   banana     5     50.85
1      uva     3     10.50
2     maça     4      8.00
3     kiwi     7      9.99
4  morango     7     10.85
5  abacaxi    10    100.50
6    melão    10      8.80
7     pêra    10     99.99

In [18]:
df[['lote','valor(u)']]
# é uma lista de colunas  é a mesma coisa que fazer colunas = ['lote','valor(u)'] e df[colunas]

   lote  valor(u)
0     5     50.85
1     3     10.50
2     4      8.00
3     7      9.99
4     7     10.85
5    10    100.50
6    10      8.80
7    10     99.99

In [19]:
colunas = ['fruta','lote']

df_sem_valor = df[colunas]

df_sem_valor

     fruta  lote
0   banana     5
1      uva     3
2     maça     4
3     kiwi     7
4  morango     7
5  abacaxi    10
6    melão    10
7     pêra    10

In [22]:
print(type(df['lote']))

<class 'pandas.core.series.Series'>

In [ ]:
# média
df['lote'].mean()

np.float64(7.0)

In [24]:
# mediana
df['lote'].median()

np.float64(7.0)

In [25]:
# moda
df['lote'].mode()

0    10
Name: lote, dtype: int64

In [26]:
# variância
df['lote'].var()

np.float64(8.0)

In [ ]:
# desvio padrao/ standard
# 0 em ddof significa população e o 1 em ddof significa amostra
df['lote'].std(ddof=1)

np.float64(2.6457513110645907)

In [30]:
mean = df['lote'].mean()
median = df['lote'].median()
mode = df['lote'].mode()
var = df['lote'].var()
std = df['lote'].std()

print(f'Media: {mean}')
print(f'Mediana: {median}')
print(f'Moda: {mode}')
print(f'Variância: {var}')
print(f'Desvio Padrao Amostral: {std}')

Media: 7.0
Mediana: 7.0
Moda: 0    10
Name: lote, dtype: int64
Variância: 8.0
Desvio Padrao Amostral: 2.8284271247461903

In [31]:
df.describe()

            lote    valor(u)
count   8.000000    8.000000
mean    7.000000   37.435000
std     2.828427   41.304015
min     3.000000    8.000000
25%     4.750000    9.692500
50%     7.000000   10.675000
75%    10.000000   63.135000
max    10.000000  100.500000